body {
    font-family: 'Poppins';
    margin: 0px;
    padding: 0px;
    background-color: #F9F9F9;
}


/*Global class*/

.dFlex {
    display: flex;
}

.justifyContentSpaceBetween {
    justify-content: space-between;
}


.colorWhite {
    color: white;
}


.padding {
    padding: 20px;
}

.borderRadius {
    border-radius: 12px;
}

.alignItemsCenter {
    align-items: center;
}

.flexDirectionColumn {
    flex-direction: column;
}

.textAlignCenter {
    text-align: center;
}

/*header*/

.header-container {
    display: grid;
    grid-template-columns: 1fr auto;
}

.paragraph {
    color: #969BA0;

}

.filter-button {
    background: #F4F5F9;
    padding: 8px 12px;
}

.imgtwo {
    margin-left: 40px;
}


.filter-button img {
    width: 16px;
    margin-right: 8px;
}

/*main*/


table {
    width: 100%;
    border-collapse: collapse;
    background: #ffffff;
    color: #3E4954;

}

thead th {
    padding: 12px;
    border-bottom: 2px solid #eee;
    text-align: center;

}

tbody td {
    padding: 15px;
    margin: 10px;
}

th img {
    width: 8px;
    margin-left: 5px;
    display: inline-block;
}

.more-options img {
    width: 16px;
    text-align: center;
    position: relative;
}


.lastOrder {
    background-color: #3E49540F;
    padding: 5px 10px;
    display: inline-block;
}

.blueColone {
    background-color: #F5F7FF;
}


.actions {
    position: relative;
    text-align: right;
}

.pop-up {
    position: absolute;
    text-align: left;
    right: -30px;
    top: -85px;
    left: 5px;
    border: 1px solid #ddd;
    padding: 5px 10px;
    display: block;
    display: none;
}

.viewDetail {
    color: #2F4CDD;
}

/*footer*/

.pagination {
    display: flex;
    justify-content: space-between;

}

.threebuttons {
    background-color: #E3E4EB;
    border-radius: 6px;
    padding: 5px;
}

.previousNext {
    background-color: #2F4CDD;
    border: none;
    padding: 8px 12px;
    margin: 0 5px;
    border-radius: 6px;

}

.threebuttons .numbers {
    border: none;
    outline: none;
    color: #2F4CDD;
    background-color: transparent;
}

.numberthree {
    background-color: #FFFFFF;
    color: black;
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 8px 10px 8px 10px;
    font-weight: bold;
}


@media (max-width: 768px) {
    thead {
        display: none;

    }

    tbody {
        display: block;
        width: 100%;
    }

    tr {
        display: block;
        margin-bottom: 10px;
        border: 1px solid #ddd;
    }

    td {
        display: flex;
        padding: 8px;
        justify-content: space-between;
    }
}

@media (max-width: 460px) {
    .pagination {
        flex-direction: column;
        align-items: center;
    }

    .previousNext {
        width: 100%;
    }

    .threebuttons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }

    .numbers,
    .numberthree {
        width: 100%;
        padding: 10px;
        text-align: center;
    }
}